@model DA_WebDienThoai.Models.sanpham
@using DA_WebDienThoai.Models;
@using DA_WebDienThoai;
@{
    ViewBag.Title = "CTDienThoai";
    Layout = "~/Views/Shared/_GiaoDien.cshtml";
    List<sanpham> dscungloai = ViewBag.SPcungloai;
}

<h2>CTDienThoai</h2>

<div>
    <h4>@Model.sp_ten</h4>
	<hr />
    <div class="row">
        <div class="col-md-4">
            <img style="width:300px; height:350px;" src="~/Content/DA_WebHinhAnh/@Model.sp_mota" />
        </div>
        <div class="col-md">
            <h1>Thông số kỹ thuật</h1>
            <table class="table">
                <tr>
                    <td>Màn hinh: </td>
                    <td>@Model.sp_manhinh</td>
                </tr>
                <tr>
                    <td>Hệ điều hành:</td>
                    <td>@Model.sp_hdh</td>
                </tr>
                <tr>
                    <td>Camera:</td>
                    <td>@Model.sp_camera</td>
                </tr>
                <tr>
                    <td>CPU: </td>
                    <td>@Model.sp_cpu</td>
                </tr>
                <tr>
                    <td>RAM:</td>
                    <td>@Model.sp_ram</td>
                </tr>
                <tr>
                    <td>Bộ nhớ trong:</td>
                    <td>@Model.sp_rom</td>
                </tr>
                <tr>
                    <td>Dung lượng pin:</td>
                 <td>@Model.sp_pin</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Quay về", "Index2", "DienThoai", new { id = @Model.sp_nsx }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Mua", "Details", "DienThoai", new { id = @Model.sp_ma }, new { @class = "btn btn-warning" })
</p>
<div class="col-md" style="background-color:grey; height:10px;">

</div>
<div class="row" style="padding-left:70px;">


            @foreach (sanpham SP in dscungloai)
            {
                <div id="a" class="col-lg-2 card mr-5 ml-5 mt-2 text-center" style="padding-top:20px;">
                    <div id="b" class="card-product">
                        <img id="hinhanh" style="width:120px; height:150px;" class="card-img-top mt-2" src="~/Content/DA_WebHinhAnh/@SP.sp_mota" />
                        <div class="card-body">
                            <h5 style="font-size:18px;" class="card-title"> @SP.sp_ten</h5>
                            <p style="color:red;">@SP.sp_giatien</p>
                            @Html.ActionLink("Chi Tiet", "CTDienThoai", "DienThoai", new { id = @SP.sp_ma }, new { @class = "btn btn-warning" })
                        </div>
                    </div>
                </div>
            }

</div>
